/* GENERICS */
.button {
	border-radius: 3px;
	cursor: pointer;
	transition: .5s ease;
	padding: 15px;
}

.button:hover {
	box-shadow: 2px 2px 5px #999;
	transition: .5s ease;
}

/* TYPES */
.primary {
	border: none;
	background-color: #7b2d0c;
	color: #fff;
}

.secondary {
	border: 2px solid #5851ff;
	background-color: #fff;
	color: #5851ff;
}

.custom {
	border: none;
	background-color: #edcc06;
	color: #fff;
}

/* SIZES */
.small {
	font-size: 12px;
}

.medium {
	font-size: 14px;
}

.large {
	font-size: 16px;
}

/* DISABLED */
.disabled {
	opacity: .5;
	cursor: not-allowed;
}

.disabled:hover {
	box-shadow: none;
}
